<launch>
	<arg name="video_device" default="/dev/video0"/>
	<arg name="camera_info" default="package://usb_camera/cfg/logi_cam_1280x720.yaml"/>
	<arg name="camera_name" default="logi_cam"/>
	<arg name="framerate" default="30"/>
	<arg name="image_width" default="1280"/>
	<arg name="image_height" default="720"/>

	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="$(arg video_device)" />
		<param name="camera_info_url" value="$(arg camera_info)"/>
		<param name="camera_name" value="$(arg camera_name)"/>
		<param name="camera_frame_id" value="logi_cam"/>
		<param name="framerate" value="$(arg framerate)"/>
		<param name="image_width" value="$(arg image_width)"/>
		<param name="image_height" value="$(arg image_height)"/>
	</node>
</launch>
